<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" > -->
  
<suite name="Happyfox">

	<listeners>
		<listener class-name="happyFox_utilities.Reporting" />	
	</listeners>

	<test name="happyfox Test1">	
	     <classes>
		     <class name="happyFox_TestCases.Test_Scenario_1" />    <!-- create status test --> 
			<class name="happyFox_TestCases.Test_Scenario_3" />		<!-- delete status test -->						 
		</classes>
	</test>
 	
	<test name="happyfox Test2">
		<classes>
			<class name="happyFox_TestCases.Test_Scenario_1" />	<!--create status test-->
			<class name="happyFox_TestCases.Test_Scenario_2" />	<!--create ticket and reply canned action-->
			<class name="happyFox_TestCases.Test_Scenario_3" /> <!--	delete status test		-->	
		</classes>
	</test>  

</suite>

